<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 

<%= form_for @user, url: {action: "create"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        <%= javascript_tag do %>
        var messages = $.parseHTML("<%= @user.errors.full_messages.join("<br />") %>")[0].data;
        console.log(messages);
            sweetAlert({title: " <%= pluralize(@user.errors.count, 'error') %> occured:", 
                        text: messages, 
                        html: true,
                        type: "error"});
        <% end %>
    </div>
  <% end %>
<% if @user.valid? && !@user.new_record?%>
    <%= javascript_tag do %>
        sweetAlert("Thank you!", "We will reply to you shortly", "success");
    <% end %>
<% end %>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Name</label>
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control', data: {validation_required_message: "Please enter your name."} %>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email Address</label>
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email Address', id: 'email', data: {validation_required_message: "Please enter your email address."} %>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Message</label>
            <%= f.text_area :message, class: 'form-control', placeholder: 'Message', id: 'message', data: {validation_required_message: "Please enter your message."}, 'rows' => 5 %>
            <p class="help-block text-danger"></p>
        </div>
    </div>
      <br>
    <div id="success"></div>

    <div class="row">
        <div class="form-group col-xs-12">
            <%= f.submit "Send", class: 'btn btn-success btn-lg' %>
        </div>
    </div>
<% end %>